<nav>
  <div class="container">
    <div class="navbar">
      <a href="index.html" class="logo">
        <span>Brandname</span>
      </a>
      <div class="toggle_btn"><i class="fas fa-bars"></i></div>
      <ul class="menu list-unstyled">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <a routerLink="/login" class="btn btn-warning text-dark px-2"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Mobile nav -->
<section>
  <div id="mob-menu" class="mobnav">
    <i id="close" class="fa fa-times" aria-hidden="true"></i>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</section>
