<app-header></app-header>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 profile_img">
        <img src="assets/image/profile-picture.jpg" alt="" />
      </div>
      <div class="col-md-7 col-12 profile_content">
        <div class="content_row">
          <p>First Name</p>
          <h4>{{ fname }}</h4>
        </div>
        <div class="content_row">
          <p>Last Name</p>
          <h4>{{ lname }}</h4>
        </div>
        <div class="content_row">
          <p>Email</p>
          <h4>{{ email }}</h4>
        </div>
        <div class="content_row">
          <p>Phone</p>
          <h4>{{ phone }}</h4>
        </div>
        <div class="content_row">
          <p>Age</p>
          <h4>{{ age }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
