<div class="page">
  <div class="center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="inp_row">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          id="email"
          placeholder="e.g: john@abc.com"
          required
        />
      </div>
      <div class="inp_row">
        <label for="password">Password</label>
        <input
          type="text"
          formControlName="password"
          id="password"
          placeholder="password"
          required
        />
      </div>
      <div class="inp_row">
        <button type="submit">Login</button>
      </div>
    </form>

    <div class="goto">
      <p>Don't have an account? <a routerLink="../signup">Signup</a></p>
    </div>
  </div>
</div>
